# core
#
X CONFIG_SHOW_USAGE
X CONFIG_INSTALL_NO_USR

# shell
#
X CONFIG_ASH
X CONFIG_FEATURE_SH_IS_ASH
X CONFIG_FEATURE_SH_NOFORK

X CONFIG_TEST
X CONFIG_ASH_BUILTIN_TEST

X CONFIG_ECHO
X CONFIG_ASH_BUILTIN_ECHO

# read things
X CONFIG_LS
X CONFIG_FIND
X CONFIG_CAT

# change things
X CONFIG_MKDIR

# linux
#
X CONFIG_PLATFORM_LINUX

# functional shell fallback
X CONFIG_GETTY

# mount
#
X CONFIG_MOUNT
X CONFIG_FEATURE_MOUNT_LOOP
X CONFIG_FEATURE_MOUNT_FLAGS
X CONFIG_FEATURE_MOUNT_HELPERS

X CONFIG_UMOUNT
X CONFIG_FEATURE_UMOUNT_ALL

# partition type detection
#
X CONFIG_BLKID
X CONFIG_FEATURE_BLKID_TYPE

X CONFIG_VOLUMEID
X CONFIG_FEATURE_VOLUMEID_LINUXSWAP
X CONFIG_FEATURE_VOLUMEID_EXT
X CONFIG_FEATURE_VOLUMEID_FAT
